{% extends "header.html" %}
{% block content %}
<body class="main_back">
    <section id="about" class="main_back section">
        <div class="row main_content menu_content">
              <div class="column main_content menu_content">
                <img src="static/images/fabio_foto.jpg" alt="fabio_foto" class="fabio_foto">
              </div>
              <div class="column main_content menu_content">
                <h6>
              <p class="colum">
                Hello everyone, my name is Fabio Carvalho, I'm Brazilian, graduated in Applied Mathematics from the University of São Paulo (USP) and I love games.
                This page is an opportunity to apply my skills and my idea is to show other people what I know about programming. I hope you like it.
              </p>
              <p>Since I started playing, I've thought more about what programming would be like. And after I started my college and had contact with programming
                     I liked it and decided to improve my skills using python, it was difficult to start but after 1 year as an intern at the
                     Institute of Geosciences of the University of São Paulo, developing a web site using the Django framework I learned a lot ,
                     and this was an opportunity to start a new internship at Santander Brazil for 2 years, where I learned more about python, models, data science.
                     Today, after almost 2 years working in a startup, I can apply my knowledge well, I think, and after a long time I decided to learn
                     about framework Flask that I used to build this page.
              </p>
            </h6>
              </div>
        </div>
    </section>
</body>
{% endblock %}
