chance_user.html{% extends "header3.html" %}
{% block content %}
     <div align="center">
         <div class="title_section">{{ msg }}</div>
         <h3 class="title_section">Please Fill in the Fields</h3>
            <form action={{url_for('change_password_update')}}  method="post" class="form3" autocomplete="off">
                <div>
                    <input  id="Password" name="Password" type="password" placeholder="New Password" required>
                </div><br>
                <div>
                    <input id="newPasswordConfirmation" name="newPasswordConfirmation" type="password" placeholder="New Password (again)" required>
                </div><br>
                <button  type="submit">Change Password</button>
           </form>
     </div>
{% endblock %}