{% extends "header.html" %}
{% block content %}
<body class="main_back">
    <section id="about" class="main_back section">
      <h3>Resident Evil</h3>
      <div class="main_content menu_content">
        <h6>
          <p>
            Resident Evil is a 1996 survival horror game developed and published by Capcom for the PlayStation.
            It is the first game in Capcom's Resident Evil franchise. Players control Chris Redfield and Jill Valentine,
            members of the elite task force S.T.A.R.S., who must escape a mansion infested with zombies and other monsters.
          </p>
           <p>
             Resident Evil was conceived by the producer Tokuro Fujiwara as a remake of his 1989 horror game Sweet Home (1989). It was directed by Shinji Mikami.
             It went through several redesigns, first as Super NES game in 1993, then a fully 3D first-person PlayStation game in 1994 and finally a third-person game.
             Gameplay consists of action, exploration, puzzle solving and inventory management. Resident Evil established many conventions seen later in the series,
             and in other survival horror games, including the inventory system, save system, and use of a vitals-monitoring system instead of a health counter.
          </p>
           <p>
             Resident Evil was praised for its graphics, gameplay, sound, and atmosphere, although it received criticism for its writing and voice acting.
             It was an international best-seller, and became the highest selling PlayStation game at the time. By December 1997,
             it had sold about 4 million copies worldwide and had grossed more than $200,000,000 (equivalent to $373,000,000 in 2022).
          </p>
          <p>
            Resident Evil is often cited as one of the best video games. It is credited with defining the survival horror genre and with returning zombies to popular culture,
            leading to a renewed interest in zombie films by the 2000s. It created a franchise including video games, films, comics, novels, and other merchandise.
            It has been ported to Sega Saturn, Windows and Nintendo DS. In 2002, a Resident Evil remake was released for the GameCube and ported to other platforms in 2015.
            A sequel, Resident Evil 2, was released in 1998, and a prequel, Resident Evil Zero, in 2002.
          </p>
           <div class="main_content menu_content title_section"><a class="title_section color_link" target="_blank" href="https://en.wikipedia.org/wiki/Resident_Evil_(1996_video_game)">More information Click Here!</a>.</div>
        </h6>
      </div>
    </section>
</body>
{% endblock %}